@import "header";
@import "menu";
@import "slider"
@import "reviews"


$font-stack: Helvetica, sans-serif;
$primary-color: #C9C9A9;

*
	box-sizing: border-box;

body 
	font: 100% $font-stack;
	height: 100%;
	margin : 0;
	background-color: $primary-color;

div.container > div
	padding: 10px 10%;

div.text
	height: 400px;
	color: black;
