#reviews
	background-color: rgb(136,173,184);

	// div::before
	// 	content: '';
	// 	width: 30px;
	// 	height: 30px;
	// 	top: 7px;
	// 	margin-right: 20px;
	// 	background-color: coral;
	// 	position: relative;
	// 	display: inline-block;

	> div
		.shape
			width: 100px;
			height: 100px
			background-color: darkgreen

			-webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
			clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
		div.text
			border: 5px solid black;
			border-radius: 10px;
			flex-grow: 1;
			margin-left: 10px;
			padding: 10px;

		display: flex;
		margin: 10px auto;
		width: 80%;
		padding: 20px;
