$height: 700px;

#slider
	height: $height;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	overflow: hidden;
	#title
		color: black;
		flex: auto;
		font-size: 3em;
		padding-top: 40px;
		margin: 0;
	img
		position: absolute;
		z-index: -1;
		opacity: 0.5;
		height: $height;
