div#logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  border: 5px solid #e9ab0c;
  padding: 1%;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 900px) {
    div#logo {
      width: 40%;
      height: 50%;
      align-items: flex-start; }
      div#logo img {
        width: auto !important;
        min-width: 0;
        height: 100%; } }
  div#logo img {
    width: 100%;
    display: block;
    position: relative; }

div#paisi {
  height: 300%;
  overflow: hidden;
  margin: 0 auto;
  display: inline-block;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border: 5px solid #e9ab0c;
  border-bottom: 0; }
  div#paisi img {
    height: 50%; }
  @media screen and (max-width: 750px) {
    div#paisi {
      position: absolute;
      left: 0;
      width: 100%; }
      div#paisi img {
        width: 100%;
        height: auto !important; } }

div#header {
  background: url("../../imgs/headerbg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 300px;
  text-align: center;
  position: relative;
  overflow: hidden; }
  @media screen and (max-width: 500px) {
    div#header {
      height: 200px; } }

#home {
  flex: 3;
  font-size: 2em;
  font-weight: bolder;
  white-space: nowrap;
  color: #406693;
  margin: 30px; }
  #home:hover {
    color: darkblue;
    cursor: pointer; }
  @media screen and (max-width: 1200px) {
    #home {
      margin: 0; } }
  @media screen and (max-width: 800px) {
    #home {
      font-size: 1.5em;
      flex: 1; } }

div.menubutton {
  position: relative;
  padding: 10px;
  margin: 0 5px;
  display: inline-block;
  border: none;
  border-radius: 10px;
  background-color: darkgreen; }
  div.menubutton a {
    font-weight: bolder;
    font-size: 1.2em;
    color: white;
    text-decoration: none; }
  div.menubutton:hover {
    background-color: #e9ab0c;
    cursor: pointer; }

img#hamburger {
  display: none; }
  img#hamburger:hover {
    border-color: #406693; }

@media screen and (max-width: 918px) {
  img#hamburger.shown {
    display: block;
    float: right;
    width: 100px;
    height: 100%; }
  div#rightmenu.shown {
    top: 80px;
    flex: auto;
    position: absolute;
    right: 0;
    flex-shrink: 1;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    display: inline-block;
    height: initial;
    align-self: flex-start; }
  div#rightmenu {
    display: none;
    white-space: normal; }
  div.menubutton {
    display: block;
    margin-top: 10px; }
  div#home {
    white-space: normal; } }

#rightmenu {
  white-space: nowrap;
  position: relative;
  height: 100%;
  flex: 6;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

#rightmenu .menubutton .submenu {
  display: none;
  border-radius: 10px;
  border: 2px solid white;
  left: -50%; }
  #rightmenu .menubutton .submenu a {
    display: block;
    margin: 5px 0; }
    #rightmenu .menubutton .submenu a:before {
      content: '\2022';
      margin-right: 5px; }
    #rightmenu .menubutton .submenu a:hover {
      color: lightblue; }
  #rightmenu .menubutton .submenu.show {
    display: block;
    padding: 5px 20px;
    top: 40px;
    position: absolute;
    z-index: 1;
    background-color: darkgreen; }

#menu {
  height: 100px;
  position: relative;
  background-color: #f0e3af;
  border-bottom: 5px solid gray;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 20px;
  z-index: 2; }
  #menu.is_stuck {
    height: 70px;
    padding: 0 20px; }

h1#semitransparent {
  background-color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  padding: 20px; }
  h1#semitransparent a {
    color: #406693; }
    h1#semitransparent a:hover {
      color: darkblue;
      cursor: pointer; }
  @media screen and (max-width: 600px) {
    h1#semitransparent {
      padding: 10px;
      font-size: 1em; } }

div.readmorebutton {
  display: inline-block;
  position: absolute;
  right: 30px;
  bottom: 30px;
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  padding: 25px;
  font-size: 2em;
  background-color: darkgreen;
  transition-duration: 0.3s;
  cursor: pointer; }
  div.readmorebutton:hover {
    transform: scale(1.1); }
  @media screen and (max-width: 600px) {
    div.readmorebutton {
      font-size: 1em;
      padding: 10px;
      right: 10px;
      bottom: 10px; } }

.fotorama.main {
  padding: 0 !important;
  background-color: #FFD; }
  @media screen and (min-width: 1300px) {
    .fotorama.main {
      padding: 0 10% 0 10% !important; } }

#pageflip {
  padding: 20px;
  display: flex;
  justify-content: center; }
  #pageflip div {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center; }
  #pageflip span {
    padding: 10px;
    border: 5px solid darkgreen;
    background-color: #FFF;
    color: #406693;
    margin: 1%;
    font-weight: bolder;
    font-size: 1.4em;
    border-radius: 100px; }
    #pageflip span:hover {
      color: darkblue;
      cursor: pointer; }

#calendar {
  position: relative;
  left: 31px;
  padding-bottom: 40px; }
  #calendar .title {
    text-align: center; }
  #calendar #month {
    width: 100%;
    margin-top: 20px;
    border-bottom: 5px solid #e9ab0c;
    direction: rtl;
    font-size: 1.4em; }
  #calendar #holder {
    position: absolute;
    height: 80%;
    background-color: darkgreen;
    display: inline-block;
    width: 10px;
    border-radius: 5px; }
  #calendar #event {
    width: 100%;
    margin-top: 30px;
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    right: 40px;
    background-color: #FFD;
    border-radius: 100px; }
  #calendar .responcivecontainer {
    display: flex;
    flex: auto;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 10px; }
  #calendar .text {
    font-size: 1.5em;
    display: inline-block;
    padding-right: 10px;
    max-width: 700px;
    margin-left: 10px; }
  #calendar #date {
    display: inline-block;
    padding: 20px;
    border-radius: 100px;
    background-color: white;
    z-index: 1;
    font-size: 2em;
    color: darkblue;
    font-weight: bolder;
    height: 100%;
    border: 5px solid darkgreen; }
  #calendar #duration {
    display: flex;
    align-items: center;
    background-color: #FFF;
    height: 40px;
    white-space: nowrap;
    border: 2px solid darkgreen;
    padding: 5px;
    color: darkblue; }
  @media screen and (max-width: 425px) {
    #calendar {
      padding: 0 5%;
      left: 0; }
      #calendar #holder {
        display: none; }
      #calendar #event {
        right: 0; } }

@font-face {
  font-family: minion;
  src: url(../../libraries/minion.tff); }

@font-face {
  font-family: coval;
  src: url(../../libraries/coval.otf); }

* {
  box-sizing: border-box;
  font-family: 'Jura', sans-serif; }

body {
  font: 100% Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  background-color: #A1A179; }

div.container {
  overflow: hidden; }
  div.container > div {
    padding: 0 10%; }

div.combiner {
  display: flex;
  padding: 0 !important; }
  div.combiner > div {
    flex: 1; }

a.disabled {
  pointer-events: none; }
