#pageflip
	padding: 20px;
	display: flex
	justify-content: center

	div
		width: 100%;
		max-width: 400px;
		display: flex;
		justify-content: center
	span
		padding: 10px
		border: 5px solid darkgreen
		background-color: #FFF
		color: #406693
		margin: 1%
		font-weight: bolder;
		font-size: 1.4em
		border-radius: 100px
		&:hover
			color: darkblue;
			cursor: pointer
