
$buttonborder: none;
$buttonscolor: darkgreen;

div.menubutton
	padding: 10px;
	margin: 0 5px;
	display: inline-block;
	font-weight: bolder;
	font-size: 1.2em;
	color: white;
	border: $buttonborder;
	border-radius: 10px;
	background-color: $buttonscolor;

	&:hover
		background-color: $yellow;
		cursor: pointer;

	
