div#logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  border: 5px solid #e9ab0c;
  padding: 1%;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 900px) {
    div#logo {
      width: 40%;
      height: 50%;
      align-items: flex-start; }
      div#logo img {
        width: auto !important;
        min-width: 0;
        height: 100%; } }
  div#logo img {
    width: 100%;
    display: block;
    position: relative; }

div#paisi {
  height: 300%;
  overflow: hidden;
  margin: 0 auto;
  display: inline-block;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border: 5px solid #e9ab0c;
  border-bottom: 0; }
  div#paisi img {
    height: 50%; }
  @media screen and (max-width: 750px) {
    div#paisi {
      position: absolute;
      left: 0;
      width: 100%; }
      div#paisi img {
        width: 100%;
        height: auto !important; } }

div#header {
  background: url("../../imgs/headerbg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 300px;
  text-align: center;
  position: relative;
  overflow: hidden; }
  @media screen and (max-width: 500px) {
    div#header {
      height: 200px; } }

#home {
  flex: 3;
  font-size: 2em;
  font-weight: bolder;
  color: #406693;
  margin: 30px; }
  #home:hover {
    color: darkblue;
    cursor: pointer; }
  @media screen and (max-width: 1200px) {
    #home {
      margin: 0; } }
  @media screen and (max-width: 800px) {
    #home {
      font-size: 1.5em;
      flex: 1; } }

div.menubutton {
  padding: 10px;
  margin: 0 5px;
  display: inline-block;
  font-weight: bolder;
  font-size: 1.2em;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: darkgreen; }
  div.menubutton:hover {
    background-color: #e9ab0c;
    cursor: pointer; }

canvas#hamburger {
  display: none;
  border: 3px solid black;
  border-radius: 5px; }
  canvas#hamburger:hover {
    border-color: #406693; }

@media screen and (max-width: 918px) {
  div.menubutton {
    display: none; }
  canvas#hamburger {
    display: block;
    width: 100px;
    height: 100%; }
  div#rightmenu {
    flex: 1; } }

#rightmenu {
  white-space: nowrap;
  overflow: hidden;
  height: 100%;
  flex: 6;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

#menu {
  height: 100px;
  background-color: #f0e3af;
  border-bottom: 5px solid gray;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 20px;
  z-index: 1; }
  #menu.is_stuck {
    height: 50px;
    padding: 0 20px; }

.fotorama h1 {
  background-color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  padding: 20px; }
  @media screen and (max-width: 600px) {
    .fotorama h1 {
      padding: 10px;
      font-size: 1em; } }

div.readmorebutton {
  display: inline-block;
  position: absolute;
  right: 30px;
  bottom: 30px;
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  padding: 25px;
  font-size: 2em;
  background-color: darkgreen;
  transition-duration: 0.3s;
  cursor: pointer; }
  div.readmorebutton:hover {
    transform: scale(1.1); }
  @media screen and (max-width: 600px) {
    div.readmorebutton {
      font-size: 1em;
      padding: 10px;
      right: 10px;
      bottom: 10px; } }

.fotorama {
  padding: 0 !important;
  background-color: #FFD; }
  @media screen and (min-width: 1300px) {
    .fotorama {
      padding: 0 10% 0 10% !important; } }

#history * {
  font-family: coval; }

#history h1 {
  font-family: 'Jura', sans-serif; }

#history {
  font-size: 1.5em;
  display: inline-block;
  padding-left: 10%;
  width: 50%; }
  #history .text {
    padding: 50px; }
    #history .text b {
      color: darkgreen; }

#reviews {
  background-color: #B9C9A9;
  display: inline-block;
  width: 50%;
  margin-left: -5px;
  vertical-align: top;
  padding: 50px;
  padding-right: 10%;
  font-size: 1.5em; }
  #reviews > div {
    display: inline-block;
    margin: 10px auto;
    width: 100%;
    padding: 20px; }
    #reviews > div .shape {
      float: left;
      width: 100px;
      height: 100px;
      display: inline-block;
      background-color: darkgreen;
      -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
      clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%); }
    #reviews > div div.text {
      float: left;
      border-radius: 10px;
      flex-grow: 1;
      margin-left: 10px;
      padding: 10px; }

@font-face {
  font-family: minion;
  src: url(../../libraries/minion.tff); }

@font-face {
  font-family: coval;
  src: url(../../libraries/coval.otf); }

* {
  box-sizing: border-box;
  font-family: 'Jura', sans-serif; }

body {
  font: 100% Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  background-color: #C9C9A9; }

div.container > div {
  padding: 0 10%; }

div.combiner {
  display: flex;
  padding: 0 !important; }
  div.combiner > div {
    flex: 1; }
