div#header {
  background: url("../../imgs/headerbg.jpg");
  background-size: 100%;
  height: 300px;
  border-bottom: 5px solid #e9ab0c;
  text-align: center;
  position: relative;
  overflow: hidden; }
  @media screen and (max-width: 500px) {
    div#header {
      height: 200px; } }

div#paisi {
  height: 900px;
  overflow: hidden;
  margin: 0 auto;
  display: inline-block;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border: 5px solid #e9ab0c;
  border-bottom: 0; }
  div#paisi img {
    height: 50%; }
  @media screen and (max-width: 750px) {
    div#paisi {
      position: absolute;
      left: 0;
      width: 100%; } }
  @media screen and (max-width: 500px) {
    div#paisi {
      height: 600px; } }

div#logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  border: 5px solid #e9ab0c;
  padding: 3%;
  text-align: center; }
  div#logo img {
    width: 100%;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%); }
  div#logo img#text {
    margin-top: 10%;
    width: 110%; }
  @media screen and (max-width: 500px) {
    div#logo {
      width: 50%; } }

#menu {
  height: 100px;
  background-color: #f0e3af;
  border-bottom: 5px solid gray;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 20px;
  z-index: 1; }
  #menu #rightmenu {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 20px;
    height: 100%;
    flex: 6;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    #menu #rightmenu canvas#hamburger {
      display: none;
      border: 3px solid black;
      border-radius: 5px; }
      #menu #rightmenu canvas#hamburger:hover {
        border-color: blue; }
    #menu #rightmenu div {
      padding: 10px;
      margin: 0 5px;
      display: inline-block;
      font-weight: bolder;
      font-size: 1.2em;
      color: white;
      border: none;
      border-radius: 10px;
      background-color: darkgreen; }
      #menu #rightmenu div:hover {
        background-color: #e9ab0c;
        cursor: pointer; }
    @media screen and (max-width: 918px) {
      #menu #rightmenu {
        flex: 1; }
        #menu #rightmenu div {
          display: none; }
        #menu #rightmenu canvas#hamburger {
          display: block;
          width: 100px;
          height: 100%; } }
  #menu #home {
    flex: 3;
    font-size: 2em;
    font-weight: bolder;
    color: #406693;
    margin: 30px; }
    #menu #home:hover {
      color: darkblue;
      cursor: pointer; }
    @media screen and (max-width: 1200px) {
      #menu #home {
        margin: 0; } }
  #menu.is_stuck {
    height: 50px;
    padding: 0 20px; }

.fotorama {
  padding-top: 20px;
  background-color: #FFD;
  padding-bottom: 0; }
  .fotorama h1 {
    background-color: rgba(255, 255, 255, 0.7);
    display: inline-block;
    padding: 20px; }
  .fotorama div.button {
    display: inline-block;
    position: absolute;
    right: 30px;
    bottom: 30px;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    padding: 30px;
    font-size: 2em;
    background-color: darkgreen; }

#history {
  font-size: 1.5em; }
  #history .text {
    padding: 50px;
    font-style: italic; }

#reviews {
  background-color: #88adb8; }
  #reviews > div {
    display: flex;
    margin: 10px auto;
    width: 80%;
    padding: 20px; }
    #reviews > div .shape {
      width: 100px;
      height: 100px;
      background-color: darkgreen;
      -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
      clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%); }
    #reviews > div div.text {
      border: 5px solid black;
      border-radius: 10px;
      flex-grow: 1;
      margin-left: 10px;
      padding: 10px; }

* {
  box-sizing: border-box;
  font-family: 'Jura', sans-serif; }

body {
  font: 100% Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  background-color: #C9C9A9; }

div.container > div {
  padding: 0 10%; }
